$text-color:#000;
$base-font: 24px;
$second-color: #fff;
$bg-color: #F0F0F0;
$description-font: 20px;
$button-font: 16px;
$title-font: 72px;
$logo-font: 32px;
$h5-font: 22px;
$h2-font: 42px;
$family-font: 'Open Sans';
$price-family:'Roboto Slab';